html {
    height: 100%;
}

body {
    background-image: url("./Images/Background.jpg");
    background-repeat: repeat;
    background-size: 300px 300px;
    width: 100%;
    height: 100%;

}

div.container {
    width: 100%;
}

nav.whiteNav {
    background-color: #fff8f9;
}

div.mainContent {

    height: 100%;

    background-color: white;
    min-height: 100%;

}

#topbanner {
    color: white;
    background-color: #59aaa5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    font-size: 150%;
}



h4.photography {
    color: #59aaa5; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

h2.greeny {
    color: #59aaa5; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.about_image {

    width: 450px; 
    height: auto;
}


img.portfolio {
    width: 300px; 
    height: auto;
}

p.biography {

}

section.graybox {
    border-width: 3px; 
    border-style: inset; 
    padding: 5px;
    height: 100%;

}

.footer {
    color: darkgrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #fff8f9;
    width: inherit;
    padding: 20px;
}

* {
    box-sizing: border-box;
  }

.row {
    margin: 8px -16px;
  }

.row,
.row > .column {
  padding: 8px;
}

.column {
    float: left;
    width: 25%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

