
body {
    background-image: url("./Images/Background.jpg");
    background-repeat: round;
    background-size: 300px 300px;
}


#page-container {
    position: relative;
    min-height: 100vh;

}




nav.whiteNav {
    background-color: #fff8f9;
}

#mainContent {
    background-color: white;
    position: relative;
    padding-bottom: 4.5rem; 
}

#topbanner {
    color: white;
    background-color: #59aaa5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    font-size: 150%;
}


.greeny {
    color: #59aaa5; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.about_image {
    width: 450px; 
    height: auto;
}


img.portfolio {
    width: 100px; 
}

p.biography {

}

section.graybox {
    border-width: 3px; 
    border-style: inset; 
    padding: 0 15px 15px 15px;
    background-color: white;
}

#footer {
    color: darkgrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #fff8f9;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 4.5rem;
}


input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

